<article class="post">
  <div class="post-info">
    <a href="/post/{{id}}">{{title}}</a>
    <p>Posted by {{user.username}} on {{created_at}} | {{comments.length}} comment(s)</p>
  </div>
  <div class="description">
    <p>{{post_text}}</p>
  </div>
</article>